.album-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;

    .img-container {
        height: 100vh;
        width: 50%;
        display: flex;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;

        img {
            width: 100%;
        }
    }

    .info-container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 48%;

        .header {
            display: flex;
            flex-direction: column;
            line-height: 1.5;

            .title {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .subtitle {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #8c8c8c;
            }

            .date {
                color: #8c8c8c;
            }
        }

        .track-container {
            display: flex;
            width: 50%;
            flex-direction: column;
            border: 1px solid #ddd;
            margin-top: 20px;

            .track-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                border-bottom: 1px solid #ddd;
            }

            .track-item:hover {
                background-color: #444;
                color: #fff;
                cursor: pointer;
                transition: .5s;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .album-container {
        flex-direction: column;
        align-items: center;
        .info-container,
        .img-container {
            height: max-content;
            padding: 20px 0;
            width: 100%
        }
    }
}

// @media only screen and (max-width: 768px) {
//     & {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

// @media only screen and (max-width: 480px) {
//     & {
//         grid-template-columns: repeat(1, 1fr);
//     }
// }

